html, body {
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
html {
    display: table;
    margin: auto;
}
form{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
select{
  display: none;
}
input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  }
